.container__footer {
  margin-top: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__footer--link {
  display: flex;
}

.container__footer--link li {
  list-style: none;
}

.container__footer--link a {
  text-decoration: none;
  color: #ffffff;
}

.container__footer--link h4 {
  color: #ffffff;
}

.container__footer--text {
  color: #ffffff;
}

@media (max-width: 450px) {
  .container__footer {
    text-align: start;
    display: flex;
    flex-direction: column;
  }
}
