$White: #ffffff;
header {
  width: 100%;
  background: #18181d;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  margin-top: 50px;
}

header ul {
  display: flex;
  justify-content: space-between;
  max-width: 33%;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: #c5c5c5;
  font-size: 18px;
  transition: 0.3s;
}
header a:hover {
  color: $White;
  font-size: 19px;
}

.header__nav {
  gap: 40px;
  padding: 0;
  padding-left: 18px;
}

.header__sociais {
  gap: 24px;
  padding: 0 16px;
}

@media (max-width: 450px) {
  * {
    box-sizing: border-box;
  }
  header {
    display: flex;
    position: relative;
  }

  header ul li a {
    position: relative;

    margin-left: 80%;
    left: 100px;
    display: none;
  }
  .header__logo {
    position: relative;
    left: 130%;
  }
}
