@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Pen+Script&display=swap");

@import "./header";

body {
  background: #0d0d0d;
  font-family: "Inter", sans-serif;
  margin: auto;
  max-width: 1024px;
  padding: 0 5%;
}
