@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Pen+Script&display=swap");

@import "./header";
@import "./home";
@import "./projects";
@import "./about";
@import "./contact";
@import "./footer";
* {
  box-sizing: border-box;
}

body {
  background: #0d0d0d;
  font-family: "Inter", sans-serif;
  margin: auto;
  max-width: 1200px;
  padding: 0 5%;
}

h2 {
  color: #ffffff;
}

hr {
  margin-top: 200px;
  color: #ffffff;
  background-color: #ffffff;
}

@media (max-width: 450px) {
  h2 {
    text-align: center;
    margin-top: 150px;
  }
}
