@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Pen+Script&display=swap");
header {
  width: 100%;
  background: #18181d;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  margin-top: 50px;
}

header ul {
  display: flex;
  justify-content: space-between;
  max-width: 33%;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: #c5c5c5;
  font-size: 18px;
  transition: 0.3s;
}

header a:hover {
  color: #ffffff;
  font-size: 19px;
}

.header__nav {
  gap: 40px;
  padding: 0;
  padding-left: 18px;
}

.header__sociais {
  gap: 24px;
  padding: 0 16px;
}

@media (max-width: 450px) {
  * {
    box-sizing: border-box;
  }
  header {
    display: flex;
    position: relative;
  }
  header ul li a {
    position: relative;
    margin-left: 80%;
    left: 100px;
    display: none;
  }
  .header__logo {
    position: relative;
    left: 130%;
  }
}
.button--primary--dark {
  all: unset;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  color: #808080;
  background: #131313;
  border-radius: 9px;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--primary--dark:hover {
  color: #ffffff;
  background: #191919;
}

.button--primary--ligth {
  all: unset;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  color: #ffffff;
  background: #131313;
  border-radius: 9px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--secondary--dark {
  all: unset;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  color: #808080;
  background: #131313;
  border-radius: 9px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--secondary--ligth {
  all: unset;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  color: #181818;
  background: #f3f3f3;
  border-radius: 9px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__home {
  height: 540px;
  margin-top: 150px;
  display: flex;
  vertical-align: top;
}

.container__home--text {
  max-width: 729px;
}

.container__home--text h1 {
  font-size: 70px;
  font-weight: 700;
  color: #808080;
  padding: 0;
  margin: 0;
}

.container__home--text h1 span {
  color: #ffffff;
  font-weight: 800;
}

.container__home--text p {
  font-size: 24px;
  color: #808080;
}

.container__home--img {
  margin-top: 60px;
}

.container__home--text--btn {
  display: flex;
  gap: 16px;
}

.container__home--text--btn button {
  width: 159px;
}

@media (max-width: 450px) {
  body {
    padding: 10px;
  }
  .container__home--text {
    width: 100%;
  }
  .container__home {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .container__home--text h1 {
    font-size: 48px;
    width: 100%;
  }
  .container__home--text p {
    width: 100%;
    text-align: justify;
  }
  .container__home--img {
    display: none;
  }
  .container__home--text--btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
  }
  .container__home--text--btn button {
    width: 90%;
  }
}
.button--primary--dark {
  all: unset;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  color: #808080;
  background: #131313;
  border-radius: 9px;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--primary--dark:hover {
  color: #ffffff;
  background: #191919;
}

.button--primary--ligth {
  all: unset;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  color: #ffffff;
  background: #131313;
  border-radius: 9px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--secondary--dark {
  all: unset;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  color: #808080;
  background: #131313;
  border-radius: 9px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--secondary--ligth {
  all: unset;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  color: #181818;
  background: #f3f3f3;
  border-radius: 9px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__projects--card {
  width: 100%;
  border: 1px solid #383737;
  border-radius: 32px;
  background: #181818;
  margin-top: 32px;
  display: flex;
  padding: 5%;
  height: 565px;
  justify-content: space-between;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.container__projects--card:hover {
  background-color: #514f4f;
  transform: scale(1.03);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.container__projects--card h3 {
  max-width: 445px;
  color: #ffffff;
}

.container__projects--card p {
  max-width: 445px;
  max-height: 100%;
  height: 50%;
  color: #808080;
}

.container__projects--card--img {
  max-height: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.container__projects--card--text img {
  height: 50px;
}

.container__projects--card--text--btn a {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  bottom: 20px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.container__projects--card--text--btn a:hover {
  color: #383737;
}

.container__projects--card-button--primary--dark {
  all: unset;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: auto;
  height: 60px;
  width: 95%;
  color: #808080;
  background: #131313;
  border-radius: 9px;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.container__projects--card-button--primary--dark:hover {
  background-color: #514f4f;
  transform: scale(1.03);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

@media (max-width: 450px) {
  .container__projects--card {
    height: 427px;
    position: relative;
  }
  .container__projects--card .container__projects--card p {
    height: 40%;
  }
  .container__projects--card .container__projects--card--text--btn a {
    position: relative;
    margin-top: 10px;
  }
  .container__projects--card .container__projects--card--img {
    display: none;
  }
}
.container__about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.container__about a {
  text-decoration: none;
}

.container__about--card {
  background: #181818;
  height: 500px;
  width: 500px;
  border-radius: 32px;
  overflow: hidden;
  text-align: center;
  justify-content: space-between;
  position: relative;
}

.container__about--card h4 {
  font-size: 32px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-top: 36px;
}

.container__about--card p {
  color: #808080;
  margin-top: 5px;
  position: relative;
}

.container__about--card img {
  margin-top: 100px;
}

@media (max-width: 450px) {
  .container__about {
    display: flex;
    flex-direction: column;
  }
  .container__about .container__about--card {
    width: 100%;
    height: 358px;
  }
  .container__about .container__about--card img {
    height: 50%;
    width: 100%;
    margin-top: 50px;
  }
}
.button--primary--dark {
  all: unset;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  color: #808080;
  background: #131313;
  border-radius: 9px;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--primary--dark:hover {
  color: #ffffff;
  background: #191919;
}

.button--primary--ligth {
  all: unset;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  color: #ffffff;
  background: #131313;
  border-radius: 9px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--secondary--dark {
  all: unset;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  color: #808080;
  background: #131313;
  border-radius: 9px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--secondary--ligth {
  all: unset;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  color: #181818;
  background: #f3f3f3;
  border-radius: 9px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__contact {
  width: 100%;
  height: 114px;
  margin-top: 114px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__contact--text {
  width: 56%;
}

.container__contact--text h4 {
  font-size: 48px;
  color: white;
  font-weight: bold;
  margin: 0;
}

.container__contact--text p {
  color: #808080;
  font-size: 20px;
}

.container__contact a {
  text-decoration: none;
}

.button--primary--dark {
  width: 200px;
  gap: 10px;
}

@media (max-width: 450px) {
  .container__contact {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container__contact .container__contact--text {
    width: 100%;
  }
  .container__contact .container__contact--text h4 {
    font-size: 30px;
  }
  .button--primary--dark {
    width: 350px;
  }
}
* {
  box-sizing: border-box;
}

body {
  background: #0d0d0d;
  font-family: "Inter", sans-serif;
  margin: auto;
  max-width: 1200px;
  padding: 0 5%;
}

h2 {
  color: #ffffff;
}

@media (max-width: 450px) {
  h2 {
    text-align: center;
    margin-top: 150px;
  }
}/*# sourceMappingURL=index.css.map */